@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <p>TRANG GIỚI THIỆU CÔNG TY</p>
        </div>
    </div>
</div>

